MONGODB_URI=mongodb+srv://<usuario>:<contraseña>@cluster0.xxxxx.mongodb.net/rifa?retryWrites=true&w=majority
RIFA_PASSWORD=contraseña_de_vendedores
ADMIN_PASSWORD=contraseña_de_admin
JWT_SECRET=un_secreto_muy_largo_y_seguro_aqui
PORT=3000
